{% extends 'base.html.twig' %}

{% block title %}Bibliotech — Nos livres{% endblock %}

{% block body %}
<div style="max-width: 800px; margin: 50px auto; font-family: sans-serif;">
    <h1>📚 Nos livres</h1>
    <p>Nombre de livres : {{ books|length }}</p>
    {# <p>{{ availableCount }} livre(s) disponible(s) sur {{ books|length }}</p> #}
    {% if books|length > 0 %}
      
           {% for book in books %}
              {% include '_partials/_book_card.html.twig' with {book : book , index : book.id} %}

         {% endfor %}
    {# <li>
                <a href= "{{path('app_book_show',{'id':loop.index}) }}"> <strong>{{book.title}} </strong></a>
    </li> #}
    {% else %}
    <p> Pas de livre disponible </p>
    {% endif %}
    
</div>
{% endblock %}