{% extends 'base.html.twig' %}

{% block title %}Auteur index{% endblock %}

{% block body %}
    <h1 class="text-amber-50 font-bold text-2xl text-center p-5">Auteur index</h1>

    <table class="table w-5/6 bg-blue-300 text-center m-auto">
        <thead class="">
            <tr class="bg-amber-50 p-6">
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auteur in auteurs %}
            <tr class="border-2 border-blue-600">
                <td>{{ auteur.id }}</td>
                <td>{{ auteur.firstName }}</td>
                <td>{{ auteur.lastName }}</td>
                <td>
                    <a href="{{ path('app_auteur_show', {'id': auteur.id}) }}">Voir</a>
                    <a href="{{ path('app_auteur_edit', {'id': auteur.id}) }}">Modifier</a>
                    {{ include('auteur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucaun auteur pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="text-amber-50 font-bold text-2xl text-center p-5"  href="{{ path('app_auteur_new') }}">Ajouter un auteur</a>
{% endblock %}
