{%  extends 'base.html.twig'  %}

{% block title %} Bibliotech emprunt  {% endblock  %}   



{% block body %}

          <p>Nombre de livre(s) emprunté(s) {{  borrowings|length }} </p>

<table class="w-5/6 m-auto text-center bg-blue-300 mt-4">
<tr class=" text-2xl ">
<th >Titre</th>
<th >Utilisateur</th>
<th >Email</th>
<th>Date</th>
</tr>
                    {% for borrowing in borrowings    %}

                   <tr > 
                   <td class="p-3"> {{ borrowing.book.title }}</td>
                   <td >{{borrowing.user.firstName}}</td>
                   <td >{{borrowing.user.email}} </td>
                   <td>{{borrowing.borrowedAt|date('d/m/Y') }} </td>
                   </tr>

                    {% endfor %}
</table>

{%  endblock %}